* {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

h1 {
    color: blue;
    font-weight: 900;
}

body {
    background-color: #c0c0c0;
}

.preta {
    border: 1px solid black;
}

.cinza {
    border: 1px solid rgb(206, 206, 206);
}