@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

html {
    font-size: 15px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    color: rgb(117, 117, 117);
}

h1, h2 {
    font-size: 1.5rem;
    line-height: 1.5em;
}

p {
    color: rgb(189, 189, 189);
    font-size: 1.1rem;
    line-height: 1.7rem;
}

.header {
    background-image: url(imgs/overlay.png), url(imgs/bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 2.5em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header__a {
    color: white;
    text-decoration: none;
}

.header__img {
    width: 6rem;
    border-radius: 50%;
}

.header__h1 {
    width: 15em;
    line-height: 3rem;
}

.main {
    padding: 1.5em;
    display: grid;
}

.main img {
    width: 100%;
    border-radius: 2.5%;
}

.button {
    text-decoration: none;
    display: block;
    padding: 1rem;
    text-align: center;
    border: 2px solid rgb(226, 226, 226);
    color: rgb(87, 87, 87);
    margin: 50px 0;
    background: none;
}

.button[type="submit"] {
    width: 100%;
}

hr {
    border-color: rgba(189, 189, 189, 0.226);
    margin: 50px 0;
}

.form {
    display: grid;
}

.form__item > input[type="text"], .form__item > textarea {
    border: none;
    background-color: rgba(216, 216, 216, 0.198);
    margin: 0.3em 0;
    padding: 1em;
    border-radius: 5px;
    width: calc(100% - 1.8em);
}

.fa-li i {
    color: rgb(189, 189, 189);
}

.fa-ul li {
    color: rgb(189, 189, 189);
    margin-bottom: 1em;
}

.footer__redes {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    max-width: 300px;
    padding: 0 20%;
}

.footer__redes a {
    color: rgb(189, 189, 189);
}

.redes__item i {
    font-size: 2rem;
}

.footer__copyright {
    text-align: center;
}

.footer {
    padding: 60px 0;
    background-image: url(imgs/overlay.png), url(imgs/bg.jpg);
    background-size: cover;
    background-position: center bottom;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer2 {
    display: none;
}

@media screen and (min-width: 480px) {
    .button {
        display: inline-block;
        min-width: 10em;
        max-width: 10em;
    }

    .section2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .section2 h2 {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .section2 hr {
        grid-column: 1 / 3;
    }
    .form {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    #message {
        grid-column: 1 / 3;
    }
}

@media screen and (min-width: 735px) {
    html {
        font-size: 17px;
    }
    .main {
        padding: 4em 3em;
    }
    .section3 {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: .6rem;
    }
    #section3__primeiro {
        grid-column: 1 / 3;
    }
}

@media screen and (min-width: 982px) {
    .header {
        position: fixed;
        width: 35%;
        box-sizing: border-box;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        padding-top: 10em !important;
    }
    .header div {
        text-align: right;
    }
    .footer {
        display: none;
    }
    .header, .footer2 * {
        color: rgba(255, 255, 255, 0.5) !important;
    }
    .header h1, .footer * {
        font-size: 20px !important;
        line-height: 2rem !important;
    }
    .footer2 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
    }
    .footer2__redes {
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 150px;
    }
    
    .footer2__redes a {
        color: rgb(189, 189, 189);
    }
    
    .footer2__redes__item i {
        font-size: 2rem;
    }
    .main {
        box-sizing: border-box;
        margin-left: 35%;
        width: 65%;
    }
}

@media screen and (min-width: 1280px) {
    .header {
        padding: 5rem;
    }
    .footer2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: flex-end;
    }
    .footer2__redes {
        grid-column: 1 / 3;
    }
    .footer2__p {
        width: max-content;
        font-size: 0.7rem;
        font-weight: 400;
    }
}