@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

a {
    font-size: 1.5rem;
    color: #525252;
}

a:visited {
    color: #525252;
}

h2 {
    color: #525252;
    font-weight: 100;   
    font-size: 2.3em;
}

p {
    font-size: 1.3em;
}

a {
    text-decoration: none;
}

@media (min-width: 1300px) {

    body {
        padding-top: 100px;
        background: linear-gradient(22deg, rgba(2,0,36,1) 0%, rgba(224,121,133,1) 0%, rgb(98, 82, 150) 100%);
    }

    header {
        height: 400px;
        text-align: center;
        color: white;
    }

    header h1 {
        margin: 15px 0px;
        font-size: 3rem;
        font-weight: 200;
        font-family: 'Noto Sans JP', sans-serif;
    }

    header p {
        margin-top: 5px;
        font-size: 1.5rem;
    }

    main {
        border-radius: 5px;
        background-color: white;
        margin-left: calc(50% - 700px);
        width: 1400px;
    }

    main nav {
        border-radius: 5px;
        position: sticky;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1400px;
        background-color: #f0f0f0;
    }   


    main nav ul li {
        display: inline;
        padding: 0px 30px;
    }

    main nav ul li a {
        line-height: 3.25em;
        padding: 0.5em;  
        color: black;
    }
    
    main nav ul li a:hover {
        background-color: rgb(233, 233, 233);
        border-radius: 8px;
    }

    main section {
        padding: 90px 90px 50px;
        border-top: 1px solid rgb(209, 209, 209);
        margin-bottom: 50px;
    }

    main section img {
        border-radius: 50%;
        display: float;
        float: right;
    } 

    main section h2 {
        width: 50%;
        height: 80px;
    }
    
    main section h2::after {
        margin-top: 25px;
        content: "";
        display: block;
        height: 2px;
        width: 130px;
        background-image: linear-gradient(
            90deg
            , #efa8b0, #a89cc8, #8cc9f0);
    }

    main section .text {
        margin-top: 30px;
        width: 60%;
        height: 50%;
    }

    main section .text p {
        margin-top: 20px;
        margin-bottom: 60px;
    }

    main section a {
        display: inline-block;
        padding: 15px 40px;
        border: 1px solid rgb(173, 173, 173);
        border-radius: 10px;
    }

    main section div.border {
        padding: 10px;
        border: 1px solid rgb(194, 194, 194);
        border-radius: 50%;
        display: float;
        float: right;
    }
    
    .lista1 {
        list-style: none;
    }

    .lista1 i {
        line-height: 150px;
        font-size: 5.5rem;
    }

    .lista1__span {
        display: inline-block;
        text-align: center;
        width: 150px;
        height: 150px;
        border: 1px solid black;
        border-radius: 50%;
    }

    .lista1__span::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 150px;
        height: 150px;
        border: 1px solid black;
        border-radius: 100%;
        margin-left: -50px;
    } 
}