@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

html {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    --cor-global: rgb(243, 243, 243);
}

a, i, p, h1, h2, h3 {
    color: var(--cor-global);
    line-height: 1em;
}
h2 {
    font-weight: 400;
}

body {
    background-color: rgb(54, 54, 54);
/*    background-image: url("img/bg.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;  */
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    list-style: none;
}

.section {
    background-color: rgba(0, 0, 0, 0.383);
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.section__text {
    text-align: justify;
    padding-right: 6%;
}
.section__subtitle {
    margin: 0.5em 0;
}
.section__button {
    display: inline-block;
    padding: 1em 2.5em;
    margin-bottom: 1em;
    background-color: var(--cor-global);
    color: black;
    width: max-content;
    border-radius: 500px;
}

.nav {
    text-align: center;
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo h2 {
    font-family: 'Alfa Slab One', cursive;
}

.footer {
    grid-column: 1 / 3;
    text-align: center;
}

.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 75rem;
}

.nav__item i {
    font-style: italic;
}

.main {
    display: grid;
    grid-template-columns: 2fr 4fr;
}

h1 {
    font-size: 4rem;
}

.nav {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}
.navbar {
    display: flex;
    flex-direction: row;
}
.navbar__item a {
    display: inline-block;
    padding: .7em 2em;
}

.socialmedia ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}
.socialmedia ul li {
    display: inline-block;
}
.socialmedia i {
    font-size: 1.5rem;
}

.button {
    position: absolute;
    bottom: 2.5rem;
    font-size: 6rem;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.103);
}
.button__previous {
    left: 65%;
    transform: translateX(-80%);
}
.button__next {
    left: 65%;
    transform: translateX(80%);
}

.nav__slider {
    grid-column: 1/3;
}
.nav__slider__button {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--cor-global);
    border-radius: 50%;
    margin: 0 .3em;
}
.nav__slider__button:hover {
    transform: scale(110%);
    animation-name: aumentar;
    animation-duration: .2s;
}

@keyframes aumentar {
    from {
        transform: scale(100%);
    } to {
        transform: scale(110%);
    }
}

.conteudos {
    overflow: hidden;
}

.button {
    display: none;
}

@media screen and (min-width: 791px) {
    #tela1__button {
        display: block;
    }
    #cidade2:target ~ #tela2__button {
        display: block;
    }
    #cidade3:target ~ #tela3__button {
        display: block;
    }
    #cidade4:target ~ #tela4__button {
        display: block;
    }
    #cidade5:target ~ #tela5__button {
        display: block;
    }
}

.conteudo:target {
    animation-name: aparecer;
    animation-duration: 1s;
}

@keyframes aparecer {
    from {
        padding-top: 20vh;
    }
    to {
        padding-top: 2rem;
    }
}

.background {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-image: url("img/bg.jpg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

#cidade1:target ~ .background {
    background-image: url("img/bg.jpg");
}
#cidade2:target ~ .background {
    background-image: url("img/bg2.jpg");
}
#cidade3:target ~ .background {
    background-image: url("img/bg3.jpg");
}
#cidade4:target ~ .background {
    background-image: url("img/bg4.jpg");
}
#cidade5:target ~ .background {
    background-image: url("img/bg5.jpg");
}

.conteudo:target ~ .background {
    transition: background-image 0.7s ease-in-out;
}

@media screen and (max-width: 1249px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 980px) {
    .nav {
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
    }
    h1 {
        font-size: 3.5rem;
    }
    .conteudos {
        grid-column: 1 / 3;
        padding-left: 2rem;
    }
    .nav__slider {
        grid-column: 1 / 2;
    }
    .socialmedia {
        order: 1;
        grid-column: 1/3;
    }
    .socialmedia ul {
        flex-direction: row;
        justify-content: space-around;
        align-content: space-around;
    }
    .footer {
        order: 2;
    }
}

@media screen and (max-width: 790px) {
    .button, .button__next, .button__previous {
        display: none;
    }
    h1 {
        margin: 0.2rem 0;
    }
    .section {
        width: 100vw;
        padding: 0 5% !important;
        box-sizing: border-box;
    }
    .section__button {
        text-align: center;
    }
    .background {
        background-position: fixed;
    }
}

@media screen and (max-width: 400px) {
    h1 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 360px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1rem;
    }
    .nav__slider__button {
        width: 1.2em;
        height: 1.2em;
    }
    .navbar__item a {
        padding: 0em 2em;
    }
    .section__subtitle {
        margin: 0;
    }
}